<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myApp.androidappa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="myApp.androidappa.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="myApp.androidappa.AddNewTextAlert" 
            	  android:label="@string/new_alert"
            	  android:parentActivityName="myApp.androidappa.MainActivity"
            	  android:windowSoftInputMode="stateHidden">
            	  
        </activity>
        <activity android:name="myApp.androidappa.AddNewEmailAlert" 
                  android:label="@string/new_alert"
            	  android:parentActivityName="myApp.androidappa.MainActivity"
            	  android:windowSoftInputMode="stateHidden">
            
        </activity>
        <activity android:parentActivityName="myApp.androidappa.MainActivity"
            android:label="@string/action_settings"
             android:name="myApp.androidappa.SettingsActivity">
            
        </activity>
        <activity android:parentActivityName="myApp.androidappa.MainActivity"
            android:label="@string/action_locations"
             android:name="myApp.androidappa.EditLocationsActivity">
            
        </activity>
    </application>

</manifest>
